
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
    background-color: #E9F0F4;
}
.spacer{
    height: 40px;
    border-top: 20px solid #1ABC9C;
    background-color: #92B372;
    border-radius: 0 0 15px 0;
}
.calculator{
    display: flex;
    min-width: 370px;
    margin-top: 15vh;
    flex-direction: column;
    align-content: center;
    border-radius: 15px 15px 15px 0px;
    background-color: #8395a7;
}
.display{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding: 0 10px;
    margin: 25px;
    height: 50px;
    border-radius: 2px;
    color: #22223b;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2rem;
    background-color: #fff;
}
.controls{
    display: grid;
    padding: 25px 25px 10px 25px;
    min-height: 300px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-bottom: 30px solid #1ABC9C;
    box-shadow: 0 12px 0 #92B372;
    border-radius: 0 0 15px 15px;
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #9EB2C0;
}
.ctrl-btn{
    margin: 2px;
}

.total-btn{
    grid-column: 5 / 6;
    grid-row: 3 / 5;
}
